
/* INDEX  */
.index-container{
    background: 
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), /* Capa negra translúcida */
        url('/programacion/proyectos/PROJECTS/ingles/static/img/logo.jpg'); /* Imagen de fondo */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    padding: 20px;
}

.result-container{
    display: none;
}


