@use "var.scss" as v;

* {
    @include v.reset();
}

body {
    background-color: whitesmoke;
    color: rgb(50, 50, 50);
}

.flotante {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.m1{
    margin: 5px;
}
.m2{
    margin: 10px;
}
.p1{
    padding: 5px;
}
.p2{
    padding: 10px;
}

//  ESTILOS DE ENCABEZADO
.icon-container {
    background: linear-gradient(rgba(230, 230, 230, 0.5), rgba(75, 116, 150, 0.5));
    padding: 0 20px;
    @include v.centrar(space-between);
    height: 90px;

    img {
        height: 80px;
        border-radius: 50%;
    }

    h3 {
        margin: 5px;
        font-weight: bold;
        color: v.$blue;
        text-shadow: 1px 1px 1px gray, 5px 5px 5px silver;
    }

    .lic {
        display: block;
        text-align: center;

        font: {
            family: Arial, Helvetica, sans-serif;
            weight: 700;
            size: 20px;
        }
    }

    .theme {
        background-color: white;
        width: 80px;
        height: 50px;
        @include v.centrar();
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        position: relative;
        border-radius: 5px;

        &::after {
            content: "";
            position: absolute;
            top: -25px;
            left: 0px;
            width: 150px;
            height: 150px;
            background-color: gray;
            transform: skewX(-58deg);
        }

        .textTheme {
            z-index: 2;
        }

        .onOff {
            position: relative;
            width: 40px;
            height: 20px;
            background-color: silver;
            border-radius: 10px;
            cursor: pointer;
            z-index: 2;

            .ball {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 20px;
                height: 20px;
                background-color: white;
                border-radius: 50%;
            }
        }
    }
}

//  ESTILOS DE CARRUSEL
.carousel {
    height: 250px;
    position: relative;

    .carousel-item {
        @include v.centrar();
        height: 240px;
        text-align: center;
        overflow: hidden;
        border-radius: 5px;
        background: radial-gradient(silver, rgb(207, 47, 159));
        box-shadow: 10px 10px 10px gray;
        flex-direction: column;
        border-radius: 10px;
        cursor: pointer;

        .text-carousel-container {
            font-size: 18px;
            font-weight: 700;
            text-align: center;
        }

        img {
            width: 150px;
            height: auto;
            margin: 10px;
        }
    }
}


main {
    width: 70%;
    margin: auto;

    section {
        @include v.centrar();
        text-align: center;

        p {
            margin: 20px;
            line-height: 30px;
        }

        .img-carnet {
            border-radius: 50%;
            transition: all 0.5s;
            width: 200PX;

            &:hover {
                transform: scale(2);
                border-radius: 0px;
            }
        }

        .hard-skill {
            @include v.centrar();
        }
    }
}

// ESTILOS SLIDER SKILLS
.slider {
    box-sizing: border-box;
    height: 80px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    width: 100%;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.4), white, rgba(0, 0, 0, 0.4));
    display: flex;
    align-items: center;

    .slide-track {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        width: calc(18*120px);
    }

    .slide {
        width: 120px;
        margin: 0px 10px;
        animation: slide 30s linear infinite;

        img {
            width: 120px;
            height: 60px;
        }
    }

    @keyframes slide {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateX(calc(-9*120px));
        }
    }
}

form{
    .contact-form {
        border-radius: 10px;
    }
    
    .row{
        padding: 20px;
    }
}
