@use "var.scss" as v;

* {
    @include v.reset();
}
.icon-container {
    background-color: v.$color1;
    padding: 0 20px;
    @include v.centrar(space-between);

    img {
        height: 80px;
        border-radius: 50%;
    }
    h2 {
        font: {
            family: Arial, Helvetica, sans-serif;
            weight: 800;
            size: 30px;
        }
    }

    .theme {
        background-color: white;
        width: 80px;
        height: 50px;
        @include v.centrar();
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        position: relative;
        border-radius: 5px;

        &::after {
            content: "";
            position: absolute;
            top: -25px;
            left: 0px;
            width: 150px;
            height: 150px;
            background-color: gray;
            transform: skewX(-58deg);
        }

        .textTheme {
            z-index: 2;
        }

        .onOff {
            position: relative;
            width: 40px;
            height: 20px;
            background-color: silver;
            border-radius: 10px;
            cursor: pointer;
            z-index: 2;

            .ball {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 20px;
                height: 20px;
                background-color: black;
                border-radius: 50%;
            }
        }
    }
}

.carousel {
    padding: 0px;
    height: 200px;
    margin: 0px;
    .carousel-item{
        @include v.centrar();
        flex-direction: column;
        cursor: pointer;

        img{
            width: 150px;
            height: auto;
        }
    }
}
    