* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  color: rgb(50, 50, 50);
  text-align: center;
}

.flotante {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.linkToSkill {
  cursor: pointer;
}

.m1 {
  margin: 5px;
}

.m2 {
  margin: 10px;
}

.p1 {
  padding: 5px;
}

.p2 {
  padding: 10px;
}

.icon-container {
  background: linear-gradient(rgba(230, 230, 230, 0.5), rgba(75, 116, 150, 0.5));
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.icon-container .img {
  display: flex;
  align-items: center;
}
.icon-container img {
  margin-right: 5px;
  height: 80px;
  border-radius: 50%;
}
@media (max-width: 600px) {
  .icon-container img {
    display: none;
  }
}
.icon-container .descargarCV {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: none;
  padding: 5px;
}
.icon-container h3 {
  font-size: 30px;
  margin: 5px;
  font-weight: bold;
  color: steelblue;
  text-shadow: 1px 1px 1px gray, 5px 5px 5px silver;
}
@media (max-width: 600px) {
  .icon-container h3 {
    font-size: 20px;
  }
}
.icon-container .lic {
  display: block;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.icon-container .theme {
  background-color: white;
  width: 80px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}
@media (max-width: 320px) {
  .icon-container .theme {
    display: none;
  }
}
.icon-container .theme::after {
  content: "";
  position: absolute;
  top: -25px;
  left: 0px;
  width: 150px;
  height: 150px;
  background-color: gray;
  transform: skewX(-58deg);
}
.icon-container .theme .textTheme {
  z-index: 2;
}
.icon-container .theme .onOff {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: silver;
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
}
.icon-container .theme .onOff .ball {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}

.carousel {
  height: 250px;
  position: relative;
}
.carousel .atras {
  background-color: orange;
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.carousel .carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  text-align: center;
  overflow: hidden;
  border-radius: 5px;
  background: radial-gradient(silver, rgb(207, 47, 159));
  box-shadow: 10px 10px 10px gray;
  flex-direction: column;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}
@media (max-width: 600px) {
  .carousel .carousel-item {
    height: 240px;
    width: 150px;
  }
}
.carousel .carousel-item .text-carousel-container {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.carousel .carousel-item img {
  width: 150px;
  height: auto;
  margin: 10px;
}

main {
  width: 70%;
  margin: auto;
}
main section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main section p,
main section li {
  margin: 20px;
  line-height: 30px;
}
main section .img-carnet {
  border-radius: 50%;
  transition: all 0.5s;
  width: 200PX;
}
main section .img-carnet:hover {
  transform: scale(2);
  border-radius: 0px;
}
main section .hard-skill {
  display: flex;
  justify-content: center;
  align-items: center;
}
main section .project-container {
  text-align: center;
}
main section .project-container .img-project-container {
  display: flex;
}
main section .project-container .description {
  background-color: rgba(203, 204, 206, 0.2);
  min-height: 150px;
  width: 100%;
  padding: 15px;
  margin: 15px 0px;
}
main section .project-container .description button {
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 3px;
  margin: 3px;
  border-radius: 2px;
  cursor: pointer;
}
main section .project-container img {
  margin: auto;
  width: 100%;
  max-width: 300px;
  height: 150px;
}

.slider {
  box-sizing: border-box;
  height: 80px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  width: 100%;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.4), white, rgba(0, 0, 0, 0.4));
  display: flex;
  align-items: center;
}
.slider .slide-track {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 2160px;
}
.slider .slide {
  width: 120px;
  margin: 0px 10px;
  -webkit-animation: slide 30s linear infinite;
          animation: slide 30s linear infinite;
}
.slider .slide img {
  width: 120px;
  height: 60px;
}
@-webkit-keyframes slide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateX(-1080px);
  }
}
@keyframes slide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateX(-1080px);
  }
}

form .contact-form {
  border-radius: 10px;
}
form .row {
  padding: 20px;
}/*# sourceMappingURL=style.css.map */